.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004080 ;
    color: white;
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
  }
  
  .admin-nav {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .logout-button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #ff7878;
  }
  